/* body {

}

label {
  display: block;
  margin: 0.5rem 0rem;
}

input {
  font-weight: 800;
  height: 2rem;
  padding-left: 10px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 18px;
}

.signin {
  width: 70%;

  margin: 15vh auto;
}
.subheading {
  text-align: center;
  color: #12b0e8;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 1rem;
}

.signin__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #46b2e0;
  border-radius: 10%;
  padding: 3rem;
  box-shadow: 1px 2px 5px red;
}

.signup__button {
  padding: 1rem 0.7rem;
  font-weight: 900;
  font-size: 1.1rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem 0rem;
  font-family: "Courier New", Courier, monospace;
  background-color: #383cc1;
  color: white;
  cursor: pointer;
}
.signup__button:hover {
  background-color: white;
  color: #4dd637;
  transition: all 0.9s;
}
.signin__button {
  font-size: 1.2rem;
  color: #5a20cb;
  text-decoration: none;
  font-weight: 700;
}
@media (min-width: 868px) {
  .signin__form {
    max-width: 50vw;
    margin: 0 auto;
  }
} */
