

.signup {
  margin: 0 auto;
  max-width: 430px;
  width: 100%;
  padding: 34px;
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(0, 4, 0, 0.6);
  font-family: "Poppins", sans-serif;
}


/* btn */
.signup-btn {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4070f4;
  padding: 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  margin: 1rem auto;
}
.signin-btn {
  font-size: 1rem;
  color: grey;
}
.signin-btn a {
  color: rgb(176, 111, 236);
  text-decoration: none;
  transition: all 0.3 ease;
  font-size: 1rem;
  font-weight: 500;
}
/* hover  */
.signup-btn:hover {
  background: #0e4bf1;
}
.signin-btn a:hover {
  text-decoration: underline;
}
