.pick-category-section {
  background-color: #03203C;
  margin: 1rem;
}
.card-image {
  width: 300px;
  height: 350px;
  object-fit: contain;
  border-radius: 50%;
}
.pick-category-section:hover {
  background-color: #50DBB4;

}
.pick-category-section-heading {
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
}
.home_featured-image {
  height: 30vh;
  width: 20vw;
  border-radius: 50%;
}
