.pick-category-section {
  margin: 1rem;
}
.card-image {
  width: 300px;
  height: 350px;
  object-fit: contain;
  border-radius: 50%;
}
.pick-category-section:hover {
  background-color: skyblue;
}
.pick-category-section-heading{
    text-transform: capitalize;
    
}