.product__filter {
  /* display: flex; */
  width: 25vw;
  height: 70vh;
  flex-direction: column;
  border-right: 2px solid blue;
  min-height: 100vh;
  position: sticky;
  top: 4rem;
}


.product__header {
  display: flex;
  justify-content: space-between;
}

.product__filter__container {
  margin: 0 auto;
  width: 90%;
}

.filter-section input {
  margin: 1rem 0.5rem;
}

.input-text-red {
  font-family: monospace;
  font-weight: 0px;
  color: #D82E2F;
}

.price-detail {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .product__filter {
    width: 100vw;
  }
}