.navbar-warpper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
}
.navbar-left {
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1.3;
  margin-right: 5vw;
}

.navbar-link {
  margin-left: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.navbar-link-icon {
  margin: 0rem 0.8rem;
  font-size: 2rem;
  color: white;
}
.nav-theme-link {
  font-size: 2rem;
}
.navbar-search-input {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: none;
}
.relative {
  position: relative;
}
.badge-counter-red {
  position: absolute;
  background-color: #e21717;
  right: -8px;
  top: -7px;
  font-size: 18px;
  padding: 0rem 0.2rem;
}
.badge-counter-green {
  position: absolute;
  background-color: #02b290;
  right: -8px;
  top: -7px;
  font-size: 18px;
  padding: 0rem 0.2rem;
}
.btn-auth {
  color: white;
  background-color: #758283;
  font-size: 18px;
  padding: 0.4rem;
  border-radius: 1rem;
}
