.a__product {
  display: flex;
}
.a__product__image {
  max-width: 35vh;
  max-height: 40vh;
}
.a__product__details,
.a__product__image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.a__product__details-2 {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 70%;
}
.a__product__details-3 {
  width: 70%;
}
.a__product__details-3__action {
  display: flex;
  align-items: center;
}
.a__product__details-3__action > button {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 1rem;
}
.a__product__details-3__action__add__to__cart {
  background-color: tomato;
  margin: 1rem;
  padding: 0.7rem 2rem;
}
.a__product__details-4 > p {
  margin-left: 1rem;
  text-align: center;
}
.a__product__details-4__sumit__review {
  background-color: tomato;
  margin: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
}

.a__product__review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .a__product {
    display: flex;
    flex-direction: column;
  }
  .a__product__image {
    min-width: 40vh;
    margin: 0 auto;
  }
}
