.a__product {
  display: flex;
}
.a__product__image {
  max-width: 35vh;
  max-height: 40vh;
}
.a__product__details,
.a__product__image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.a__product__details-2 {
  display: flex;
  justify-content: flex-start;
  /* justify-content: center; */
  align-items: center;
  padding: 1rem;
  background-color: lavender;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  width: 70%;
}
.a__product__details-2 > h4 > span {
}
.a__product__details-3 {
  width: 70%;
}
.a__product__details-3__action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a__product__details-3__action > button {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 1rem;
}

.a__product__details-4 > p {
  margin-left: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .a__product {
    display: flex;
    flex-direction: column;
  }
  .a__product__image {
    min-width: 40vh;
    margin: 0 auto;
  }
}
