.payment-wrapper {
  min-width: 22%;
  flex-direction: column;
  border: 2px solid blue;
  height: 60vh;
  position: sticky;
  top: 5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-left: auto;
}
.payment-wrapper:hover {
  border: 1px solid blue;

  box-shadow: 2px 4px 8px blueviolet;

  transition: all 0.4s;
}
.payment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment-item {
  color: #808080;
  font-weight: 700;
  margin: 0.6rem 0.3rem;
  font-size: 1.4rem;
}
.payment-heading {
  color: #36454f;
  font-weight: 700;
  margin: 1rem;
  font-size: 1.8rem;
}
.payment-mrp {
  color: red;
  font-weight: 600;
  margin: 0.5rem;
  font-size: 1.4rem;
}
.payment-discount {
  color: orange;
  font-weight: 600;
  margin: 0.5rem;
  font-size: 1.4rem;
}
.payment-final {
  color: #03c6c7;
  font-weight: 600;
  margin: 0.5rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
  .payment-wrapper {
    margin: 0px;
    margin-top: 2rem;
    display: flex;
    background-color: #E07C24 ;
  }
}