.annoncement {
  text-align: center;
  font-size: 1.2em;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}
.announcement-link {
  text-decoration: none;
}
.announcement-link:visited{
  color: #03203C;
}