@import url("./css/var.css");
@import url("./css/Button.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.btn-disable {
  /* opacity: 0.6; */
  background-color: #ff6263;
  pointer-events: none;
  user-select: none;
}
.m-tb-4 {
  margin: 4px 0;
}
.m-tb-2 {
  margin: 2px 0;
}
.text-decoration {
  text-decoration: none;
}
/* coustumize component library css */
::-webkit-scrollbar {
  width: 8px;
  height: 9px;
  background-color: #5da3fa;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #e03b8b;
  border-radius: 10px;
}
/* text */
.text-md {
  font-size: 1.8rem;
}
/* button  */
button {
  cursor: pointer;
}

li {
  list-style: none;
}

.App {
  min-height: 100vh;
}

.divider-mini {
  width: 80%;
  border-top: 3px solid grey;
  margin: 0.5rem auto;
}

/* more component library */
.d-block {
  display: block;
}
.cursor-pointer {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer-none {
  pointer-events: none;
}
.text-capitalize {
  text-transform: capitalize;
}
.card-title {
  font-weight: bolder;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-text-content);
  margin-top: 1rem;
  text-transform: capitalize;
}
.card-subtitle {
  font-weight: bold;
  text-align: center;
  color: var(--color-text-subheading);
  margin-bottom: 1rem;
}
.card-content {
  margin: 1rem 0rem;
  font-weight: 500;
  color: var(--color-text-content);
  font-family: monospace;
  width: 80%;
}
.card-rating {
  color: #3944f7;
  font-weight: 600;
  margin: 0.3rem;
  font-family: monospace;
}
.card-pricing-detail {
  margin: 3px;
}
.card-quantity {
  color: #8d3daf;
  font-weight: 600;
  margin: 0.3rem;
}
.card-price {
  font-weight: 700;
  color: green;
  margin: 0.5rem 0rem;
  font-size: 1.3rem;
}
.card-price-mrp {
  color: red;
}
.card-disount {
  color: orange;
  font-weight: 700;
}
.card-button {
  padding: 0.5rem;
  border: none;
  margin: 0.3rem;
}

.card-btn-view-more {
  background-color: #202eee;
  border-radius: 0.2rem;
  color: white;
  font-weight: 500;
}
.card-btn-view-more:hover {
  background-color: #3944f7;
  transform: translateY(-1px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card-btn-add-to-cart {
  background-color: #e03b8b;
  color: whitesmoke;
  font-weight: 500;
  border-radius: 0.2rem;
}
.card-btn-add-to-cart:hover {
  background-color: #e21717;
  transform: translateY(-1px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card-btn-add-to-wishlist {
  background-color: #1c8d73;
  color: white;
  font-weight: 500;
  border-radius: 0.2rem;
}
.card-btn-add-to-wishlist:hover {
  background-color: #02b290;
  color: white;
  font-weight: 500;
  transform: translateY(-1px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.card-btn-view-wishlist {
  background-color: #1c8d73;
  color: white;
  font-weight: 500;
}
.card-btn-remove {
  background-color: #ddd101;
  color: white;
  font-weight: 500;
  border-radius: 0.2rem;
}
.card-btn-remove:hover {
  background-color: #d9d55b;
  color: white;
  font-weight: 500;
  transform: translateY(-1px);
  transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.auth-login {
  width: 100%;
  margin: 10vh auto;
}
.heading {
  /* text-align: center;
  font-size: 2.3rem;
  margin: 0.5rem;

  color: #12b0e8; */
  color: #12b0e8;
  text-shadow: 1px 1px 1px blueviolet;
  text-transform: capitalize;
  font-size: 2.4rem;
  font-family: cursive;
  margin: 0 1rem;
  text-align: center;
}
.subheading {
  text-align: center;
  font-size: 2rem;
  margin: 0.5rem;
  color: #02b290;
  font-family: cursive;
  text-transform: capitalize;
}

.flex-column {
  flex-direction: column;
}
.margin-left-auto {
  width: 100%;
  margin: 0 auto;
}
.ml-auto {
  margin-left: auto;
  margin-right: 1rem;
}
